<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div id="loading-overlay">
  <div class="loader"></div>
</div>

  {% with messages=get_flashed_messages(with_categories=true) %}
    {% for cat,msg in messages %}
      <div class="flash {{cat}}">{{msg}}</div>
    {% endfor %}
  {% endwith %}
  
  {% block content %}{% endblock %}

  <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>
</html>
